In [127]:
from flask import Flask, render_template, request
import os
import glob
import time
import pickle
import numpy as np

  
# importing pandas module
import pandas as pd

In [128]:
list_of_files = glob.glob('/Users/gabriellaburns/Desktop/project_4/uploads/*') 
latest_file = max(list_of_files, key=os.path.getctime)


# reading the data in the csv file
df = pd.read_csv(latest_file)
df["prediction"] = ""
df["probability"] = ""

In [129]:
df

,loan_amount_000s,applicant_income_000s,loan_type,applicant_ethnicity,co_applicant_ethnicity,applicant_race_1,co_applicant_race_1,applicant_sex,co_applicant_sex,prediction,probability
0,144,154,Conventional,Hispanic or Latino,Not Hispanic or Latino,American Indian or Alaska Native,White,Male,Male,,
1,300,45,Conventional,Hispanic or Latino,Not Hispanic or Latino,Asian,Asian,Female,Female,,
2,263,141,Conventional,Hispanic or Latino,Not Hispanic or Latino,Black or African American,Black or African American,Female,Female,,
3,187,76,Conventional,Not Hispanic or Latino,Hispanic or Latino,Native Hawaiian or Other Pacific Islander,Native Hawaiian or Other Pacific Islander,Female,Female,,
4,361,107,FHA Insured,Not Hispanic or Latino,Hispanic or Latino,White,White,Male,Male,,
5,625,322,VA-guaranteed,Not Hispanic or Latino,Hispanic or Latino,Asian,Asian,Male,Male,,
6,347,50,VA-guaranteed,Not Hispanic or Latino,No co-applicant,Black or African American,No co-applicant,Male,No co-applicant,,
7,451,123,FSA/RHS (Farm Service Agency or Rural Housing ...,Not Hispanic or Latino,No co-applicant,Native Hawaiian or Other Pacific Islander,No co-applicant,Female,No co-applicant,,
8,377,157,Conventional,Not Hispanic or Latino,No co-applicant,White,No co-applicant,Male,No co-applicant,,

In [130]:
df = df.astype(str)

In [131]:
for i in df["loan_type"]:
    df.replace("Conventional", '1000', inplace=True)
    df.replace("FHA Insured", '0100', inplace=True)
    df.replace("VA-guaranteed", '0010', inplace=True)
    df.replace("FSA/RHS (Farm Service Agency or Rural Housing Service)", '0001', inplace=True)

for i in df["applicant_ethnicity"]:
    df["applicant_ethnicity"].replace("Hispanic or Latino", '10', inplace=True)
    df["applicant_ethnicity"].replace("Not Hispanic or Latino", '01', inplace=True)

for i in df["co_applicant_ethnicity"]:
    df["co_applicant_ethnicity"].replace("Hispanic or Latino", '100', inplace=True)
    df["co_applicant_ethnicity"].replace("Not Hispanic or Latino", '010', inplace=True)
    df["co_applicant_ethnicity"].replace("No co-applicant", '001', inplace=True)

for i in df["applicant_race_1"]:
    df["applicant_race_1"].replace("American Indian or Alaska Native", '10000', inplace=True)
    df["applicant_race_1"].replace("Asian", '01000', inplace=True)
    df["applicant_race_1"].replace("Black or African American", '00100', inplace=True)   
    df["applicant_race_1"].replace("Native Hawaiian or Other Pacific Islander", '00010', inplace=True)
    df["applicant_race_1"].replace("White", '00001', inplace=True)       
    
for i in df["co_applicant_race_1"]:
    df["co_applicant_race_1"].replace("American Indian or Alaska Native", '100000', inplace=True)
    df["co_applicant_race_1"].replace("Asian", '010000', inplace=True)
    df["co_applicant_race_1"].replace("Black or African American", '001000', inplace=True)   
    df["co_applicant_race_1"].replace("Native Hawaiian or Other Pacific Islander", '000100', inplace=True)
    df["co_applicant_race_1"].replace("White", '000010', inplace=True)    
    df["co_applicant_race_1"].replace("No co-applicant", '000001', inplace=True)  

for i in df["applicant_sex"]:
    df["applicant_sex"].replace("Male", '10', inplace=True)
    df["applicant_sex"].replace("Female", '01', inplace=True)

for i in df["co_applicant_sex"]:
    df["co_applicant_sex"].replace("Male", '100', inplace=True)
    df["co_applicant_sex"].replace("Female", '010', inplace=True)
    df["co_applicant_sex"].replace("No co-applicant", '001', inplace=True)
df

,loan_amount_000s,applicant_income_000s,loan_type,applicant_ethnicity,co_applicant_ethnicity,applicant_race_1,co_applicant_race_1,applicant_sex,co_applicant_sex,prediction,probability
0,144,154,1000,10,010,10000,000010,10,100,,
1,300,45,1000,10,010,01000,010000,01,010,,
2,263,141,1000,10,010,00100,001000,01,010,,
3,187,76,1000,01,100,00010,000100,01,010,,
4,361,107,0100,01,100,00001,000010,10,100,,
5,625,322,0010,01,100,01000,010000,10,100,,
6,347,50,0010,01,001,00100,000001,10,001,,
7,451,123,0001,01,001,00010,000001,01,001,,
8,377,157,1000,01,001,00001,000001,10,001,,

In [132]:
inputs = []
for i in range(len(df)): 
    input = []
    #loan amount
    loan_amount = df.iloc[i, 0] # for the input
    input.append(loan_amount)
    #income
    income = df.iloc[i, 1]
    input.append(income)
    #loan type
    loantype = df.iloc[i, 2]
    for x in loantype:
        input.append(x)
    #applicant ethnicity
    aeth = df.iloc[i, 3]
    for x in aeth:
        input.append(x)
    #coapplicant ethnicity
    coaeth = df.iloc[i, 4]
    for x in coaeth:    
        input.append(x)
    #applicant race
    arac = df.iloc[i, 5]
    for x in arac:
        input.append(x)
    #coapplicant race
    coarac = df.iloc[i, 6]
    for x in coarac:
        input.append(x)
    #applicant sex
    asex = df.iloc[i, 7]
    for x in asex:
        input.append(x)
    #coapplicant sex
    coasex = df.iloc[i, 8]
    for x in coasex:
        input.append(x)
    inputs.append(input)
inputs

[['144',
  '154',
  '1',
  '0',
  '0',
  '0',
  '1',
  '0',
  '0',
  '1',
  '0',
  '1',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '1',
  '0',
  '1',
  '0',
  '1',
  '0',
  '0'],
 ['300',
  '45',
  '1',
  '0',
  '0',
  '0',
  '1',
  '0',
  '0',
  '1',
  '0',
  '0',
  '1',
  '0',
  '0',
  '0',
  '0',
  '1',
  '0',
  '0',
  '0',
  '0',
  '0',
  '1',
  '0',
  '1',
  '0'],
 ['263',
  '141',
  '1',
  '0',
  '0',
  '0',
  '1',
  '0',
  '0',
  '1',
  '0',
  '0',
  '0',
  '1',
  '0',
  '0',
  '0',
  '0',
  '1',
  '0',
  '0',
  '0',
  '0',
  '1',
  '0',
  '1',
  '0'],
 ['187',
  '76',
  '1',
  '0',
  '0',
  '0',
  '0',
  '1',
  '1',
  '0',
  '0',
  '0',
  '0',
  '0',
  '1',
  '0',
  '0',
  '0',
  '0',
  '1',
  '0',
  '0',
  '0',
  '1',
  '0',
  '1',
  '0'],
 ['361',
  '107',
  '0',
  '1',
  '0',
  '0',
  '0',
  '1',
  '1',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '1',
  '0',
  '0',
  '0',
  '0',
  '1',
  '0',
  '1',
  '0',
  '1',
  '0',
  '0'],
 ['625',
  '322',
  '0',
  '0',
  '1',
  '0',
  '0',
  '1',
  '1',
  '0',
  '0',
  '0',
  '1',
  '0',
  '0',
  '0',
  '0',
  '1',
  '0',
  '0',
  '0',
  '0',
  '1',
  '0',
  '1',
  '0',
  '0'],
 ['347',
  '50',
  '0',
  '0',
  '1',
  '0',
  '0',
  '1',
  '0',
  '0',
  '1',
  '0',
  '0',
  '1',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '1',
  '1',
  '0',
  '0',
  '0',
  '1'],
 ['451',
  '123',
  '0',
  '0',
  '0',
  '1',
  '0',
  '1',
  '0',
  '0',
  '1',
  '0',
  '0',
  '0',
  '1',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '1',
  '0',
  '1',
  '0',
  '0',
  '1'],
 ['377',
  '157',
  '1',
  '0',
  '0',
  '0',
  '0',
  '1',
  '0',
  '0',
  '1',
  '0',
  '0',
  '0',
  '0',
  '1',
  '0',
  '0',
  '0',
  '0',
  '0',
  '1',
  '1',
  '0',
  '0',
  '0',
  '1']]

In [133]:
model = pickle.load(open('resources/lr_classifier.pkl', 'rb'))       
chance=0

In [134]:
df_predictions = []
df_prob = []

for i in inputs:
    
    data = np.array(i)[np.newaxis, :]  # converts shape for model test
  # runs model on the data
    prob= model.predict_proba(data)
    predict = model.predict(data)
    #append prediction to df
    if predict == [1]:
        df_predictions.append("Likely will qualify")
    else:
         df_predictions.append("Unlikely to qualify.")

    #append prob to df
    if predict == [1]:
        chance = prob[0][1]
        df_prob.append(str((chance*100)) + '%')
    else:
        chance = prob[0][0]
        df_prob.append(str((chance*100)) + '%')

/Applications/anaconda3/lib/python3.9/site-packages/sklearn/base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)
/Applications/anaconda3/lib/python3.9/site-packages/sklearn/base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)
/Applications/anaconda3/lib/python3.9/site-packages/sklearn/base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)
/Applications/anaconda3/lib/python3.9/site-packages/sklearn/base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)
/Applications/anaconda3/lib/python3.9/site-packages/sklearn/base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)
/Applications/anaconda3/lib/python3.9/site-packages/sklearn/base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)
/Applications/anaconda3/lib/python3.9/site-packages/sklearn/base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)
/Applications/anaconda3/lib/python3.9/site-packages/sklearn/base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)
/Applications/anaconda3/lib/python3.9/site-packages/sklearn/base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)
/Applications/anaconda3/lib/python3.9/site-packages/sklearn/base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)
/Applications/anaconda3/lib/python3.9/site-packages/sklearn/base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)
/Applications/anaconda3/lib/python3.9/site-packages/sklearn/base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)
/Applications/anaconda3/lib/python3.9/site-packages/sklearn/base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)
/Applications/anaconda3/lib/python3.9/site-packages/sklearn/base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)
/Applications/anaconda3/lib/python3.9/site-packages/sklearn/base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)
/Applications/anaconda3/lib/python3.9/site-packages/sklearn/base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)
/Applications/anaconda3/lib/python3.9/site-packages/sklearn/base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)
/Applications/anaconda3/lib/python3.9/site-packages/sklearn/base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)

In [135]:
df['prediction'] = df_predictions
df['probability'] = df_prob

In [136]:
df

,loan_amount_000s,applicant_income_000s,loan_type,applicant_ethnicity,co_applicant_ethnicity,applicant_race_1,co_applicant_race_1,applicant_sex,co_applicant_sex,prediction,probability
0,144,154,1000,10,010,10000,000010,10,100,Likely will qualify,99.99999977019%
1,300,45,1000,10,010,01000,010000,01,010,Likely not qualify.,95.20663772555781%
2,263,141,1000,10,010,00100,001000,01,010,Likely will qualify,99.99979250215002%
3,187,76,1000,01,100,00010,000100,01,010,Likely will qualify,99.84159977083016%
4,361,107,0100,01,100,00001,000010,10,100,Likely will qualify,98.11171568528643%
5,625,322,0010,01,100,01000,010000,10,100,Likely will qualify,99.99999999957534%
6,347,50,0010,01,001,00100,000001,10,001,Likely not qualify.,98.73125270370336%
7,451,123,0001,01,001,00010,000001,01,001,Likely will qualify,94.15649362272238%
8,377,157,1000,01,001,00001,000001,10,001,Likely will qualify,99.99839422412258%

In [137]:
df.to_csv("table_calc.csv")